@font-face {
    font-family: 'MemphisRiver';
    src: url(MemphisRiver.ttf);
}

body {
    background-image: url(background-ghibli-studio.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    font-size: 90px;
    font-family: "MemphisRiver",sans-serif;
    font-weight: 300;
    color: rgb(236, 236, 166);
}

.grandparent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.parent-container {
    display: flex;
    gap: 100px;
}

.position {
    display: grid;
    grid-template-columns: 1;
    gap: 15px;
    padding: 150px 50px;
    border-radius: 2%;
    background-color: palegoldenrod;
}

.container {
    display: grid;
    height: 500px;
    width: 500px;
    border-style: double;
    border-color: aquamarine;
};

.square {
    height: 100%;
    width: 100%;
}

#new-grid,
#color-change,
#reset-all {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}











